/*
 * Ziqni Gamification Cloud API
 * This is the gamification cloud for Ziqni
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.member.sdk.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.member.sdk.streaming.StreamingClient;
import com.ziqni.member.sdk.streaming.EventHandler;
import com.ziqni.member.sdk.streaming.handlers.CallbackConsumer;
import com.ziqni.member.sdk.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.member.sdk.model.ContestRequest;
    import com.ziqni.member.sdk.model.ContestResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.member.sdk.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class ContestsApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public ContestsApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }


            /**
            * Get contests by member reference Id
            * Returns a list of contests for the provided member ref id and applied filters.
                * @param contestRequest  (required)
                * @return CompletableFuture&lt;ContestResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ContestResponse> getContests(ContestRequest contestRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",contestRequest);

            CompletableFuture<ContestResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getContests", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
