/*
 * Ziqni Gamification Cloud API
 * This is the gamification cloud for Ziqni
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.member.sdk.api;
import com.ziqni.member.sdk.streaming.StreamingClient;
import com.ziqni.member.sdk.ApiException;
    import com.ziqni.member.sdk.model.MessageRequest;
    import com.ziqni.member.sdk.model.MessageResponse;

import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.net.http.HttpResponse;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class MessagesApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public MessagesApiWs(StreamingClient streamingClient, Duration readTimeout) {
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = readTimeout;
    }

/**
*/
    /**
    * Get messages by member reference id
    * Returns a list of messages for the provided member ref id and applied filters.
        * @param messageRequest  (required)
        * @return CompletableFuture&lt;MessageResponse&gt;
    * @throws ApiException if fails to make API call
    */
    public CompletableFuture<MessageResponse> getMessages(MessageRequest messageRequest) {
        var request = new HashMap<String, Object>();
    
        

    
        

    request.put("body",messageRequest);

        CompletableFuture<MessageResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getMessages", request);
        return result;
    }

    private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
        if (body == null || body.isEmpty()) {
            body = "[no body]";
        }
        return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
