/*
 * Ziqni Member API
 * The ZIQNI Member-API is the primary resource used to build services and widgets for your members [customers, players, patients, etc]. The service is Stomp websokets with SOCK.js even though the system is decribed using OpenApi schema for convenience.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.member.sdk.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.member.sdk.streaming.StreamingClient;
import com.ziqni.member.sdk.streaming.EventHandler;
import com.ziqni.member.sdk.streaming.handlers.CallbackConsumer;
import com.ziqni.member.sdk.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.member.sdk.model.SubscriptionRequest;
    import com.ziqni.member.sdk.model.SubscriptionResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.member.sdk.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class SubscriptionsApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public SubscriptionsApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }

    public class subscribeCallBacks {
        public final static String ENTITYCHANGED ="entityChanged";
        public final static String ENTITYSTATECHANGED ="entityStateChanged";
        
    }


    public SubscriptionsApiWs entityChangedHandler(BiConsumer<StompHeaders, EntityChanged> entityChanged, BiConsumer<StompHeaders, ApiException> onApiException){
        streamingClient.getCallbackEventHandler().registerCallbackHandler(new CallbackConsumer<EntityChanged>(EntityChanged.class, "entityChanged", entityChanged, onApiException));
        return this;
    }

    public SubscriptionsApiWs entityStateChangedHandler(BiConsumer<StompHeaders, EntityStateChanged> entityStateChanged, BiConsumer<StompHeaders, ApiException> onApiException){
        streamingClient.getCallbackEventHandler().registerCallbackHandler(new CallbackConsumer<EntityStateChanged>(EntityStateChanged.class, "entityStateChanged", entityStateChanged, onApiException));
        return this;
    }

            /**
            * 
            * subscribes a client to receive out-of-band data
                * @param subscriptionRequest subscription payload (required)
                * @return CompletableFuture&lt;SubscriptionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<SubscriptionResponse> subscribe(SubscriptionRequest subscriptionRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",subscriptionRequest);

            CompletableFuture<SubscriptionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/subscribe", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
