package {{invokerPackage}};

import {{invokerPackage}}.api.*;
import {{invokerPackage}}.streaming.WsAddress;
import {{invokerPackage}}.streaming.StreamingClient;
import java.time.Duration;
import com.ziqni.gamification.client.notifications.SystemNotifications;
import java.util.concurrent.atomic.AtomicReference;
import com.ziqni.gamification.client.notifications.model.SubscriptionResponse;
import com.ziqni.gamification.client.notifications.model.SubscriptionTypes;
import java.util.function.Consumer;

public abstract class ApiClientFactoryWs {

    private static StreamingClient streamingClient;
    private static Boolean initialised = false;
    {{#apiInfo}}{{#apis}}private static {{classname}}Ws {{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}Ws;
    {{/apis}}{{/apiInfo}}

    public static void initialise() throws Exception {
        if(initialised) return;

        ApiClientFactoryWs.initialised = true;

        streamingClient = new StreamingClient(new WsAddress().getAddress());
    }

    private static void init() {
        try {
            initialise();
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }

    public static Boolean getInitialised() {
        return initialised;
    }

    public static StreamingClient getStreamingClient() {
        assert getInitialised();
        return streamingClient;
    }

    private static final AtomicReference<SystemNotifications> systemNotificationsAtomicReference = new AtomicReference<>();
    public static void initSystemNotifications(Consumer<SubscriptionResponse> onSubscriptionResponse, Consumer<SubscriptionTypes> onSubscriptionTypes) throws Exception {

        if(!ApiClientFactoryWs.initialised) init();
        if(systemNotificationsAtomicReference.get() != null)
            throw new Exception("System notification already initialised");
        getStreamingClient().asyncWebSocketClient(ws -> {
            var s = new SystemNotifications(ws,onSubscriptionResponse,onSubscriptionTypes);
            systemNotificationsAtomicReference.set(s);
        });
    }

    public static SystemNotifications getSystemNotificationsApi(){

        if(systemNotificationsAtomicReference.get() == null)
            throw new RuntimeException("System notification not initialised");
        return systemNotificationsAtomicReference.get();
    }

    {{#apiInfo}}{{#apis}} public static {{classname}}Ws get{{classname}}() {
        if(ApiClientFactoryWs.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}Ws == null) {
            init();
            ApiClientFactoryWs.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}Ws = new {{classname}}Ws(streamingClient, Duration.ofSeconds(5));
        }

        return ApiClientFactoryWs.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}Ws;
    }

    {{/apis}}{{/apiInfo}}
}
