/*
 * Ziqni Gamification Cloud API
 * This is the gamification cloud for Ziqni
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gamification.client.api;

import com.ziqni.gamification.client.StreamingClient;
import com.ziqni.gamification.client.ApiClient;
import com.ziqni.gamification.client.ApiException;
import com.ziqni.gamification.client.ApiResponse;
import com.ziqni.gamification.client.Pair;
import com.ziqni.gamification.client.model.ProxyRequest;
import com.ziqni.gamification.client.model.ProxyResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class ProxyApiWs extends ProxyApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public ProxyApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Proxy
        * Perform proxy operations.
            * @param proxyRequest  (required)
            * @return CompletableFuture&lt;ProxyResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<ProxyResponse> proxy(ProxyRequest proxyRequest) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("proxyRequest",proxyRequest);

        CompletableFuture<ProxyResponse> result = this.streamingClient.sendWithApiCallback("/aapi/proxy", request);
        return result;
        }
        }
