/*
 * Ziqni Gamification Cloud API
 * This is the gamification cloud for Ziqni
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gamification.client.api;

import com.ziqni.gamification.client.StreamingClient;
import com.ziqni.gamification.client.ApiClient;
import com.ziqni.gamification.client.ApiException;
import com.ziqni.gamification.client.ApiResponse;
import com.ziqni.gamification.client.Pair;
import com.ziqni.gamification.client.model.RuleRequest;
import com.ziqni.gamification.client.model.RuleResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class RulesApiWs extends RulesApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public RulesApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Get rules
        * This operation support retrieval of rules for one or many entities.
            * @param ruleRequest  (required)
            * @return CompletableFuture&lt;RuleResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<RuleResponse> getRules(RuleRequest ruleRequest) {
        var request = new HashMap<String, Object>();
        
                

        
                
        request.put("ruleRequest",ruleRequest);

        CompletableFuture<RuleResponse> result = this.streamingClient.sendWithApiCallback("/aapi/getRules", request);
        return result;
        }
        }
